const path = require("path")

/*
    This is only a suggestion based off of the current layout.
    If you would like the layout to look different, feel free to
    change these values in your .sequelizerc. Follow the sequelize
    documentation on this matter
*/
module.exports = {
  config: path.resolve('config', 'database.js'),
  'models-path': path.resolve('db', 'models'),
  'seeders-path': path.resolve('db', 'seeders'),
  'migrations-path': path.resolve('db', 'migrations'),
};
