.list-entry-container{
    height: 70vh;
    border: solid lightgray 1px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    overflow-y: scroll;
}

.list-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid lightgray 1px;
    border-radius: 15px;
    padding: 5px;
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}