.bliss-link-container{
    margin: 0 auto;
    background-color: #333;
    padding: 15px;
    border: solid black 1px;
}

.bliss-link-container > a {
    text-decoration: none;
    color: white;
}

.bliss-link-container > a > h1{
    margin: 0 auto;
    font-size: 1.8em;
}


.bliss-link-container:hover {
    transition: all 0.4s ease-in-out;
    background: rgb(72, 82, 242);
    background: linear-gradient(
      50deg,
      rgba(72, 82, 242, 1) 0%,
      rgba(228, 78, 100, 1) 100%
    );
    color: white;
  }

.bliss-link-container.active {
transition: all 0.4s ease-in-out;
background: rgb(72, 82, 242);
background: linear-gradient(
    50deg,
    rgba(72, 82, 242, 1) 0%,
    rgba(228, 78, 100, 1) 100%
);
color: white;
}