.photo-container {
}

.card {
	width: 350px;
	height: 500px;
	overflow-y: scroll;
	border: solid lightgray 1px;
	border-radius: 15px;
    padding: 15px;
	margin: 15px 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	transition: transform 0.15s ease-in-out, box-shadow 0.15 ease-in-out;
}

.card:hover {
	width: 350px;
	height: 500px;
	overflow-y: scroll;
	border: solid lightgray 1px;
	border-radius: 15px;
    padding: 15px;
	margin: 15px 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	transform: scale(1.06);
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.card:active {
	width: 350px;
	height: 500px;
	overflow-y: scroll;
	border: solid lightgray 1px;
	border-radius: 15px;
    padding: 15px;
	margin: 15px 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	transform: scale(1.03);
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.card-title {
}

.card-content {
}

.votes-container {
}
